<!-- home.component.html -->

<header>
  <h1>ToDo App</h1>
  <div>
    <h1>Welcome to the ToDo App!</h1>
    
  </div>
</header>

<main>
  <h1>Welcome to Your ToDo List</h1>
  <p>Stay organized and get things done with our ToDo App.</p>
  <a routerLink="/login" class="cta-button">Get Started</a>
</main>
<!-- home.component.html -->

<div>
  <h2>Task List</h2>

  <ul>
    <!-- Loop through the taskList array and display each task -->
    <li *ngFor="let task of taskList">

      <span>{{ task.taskname}}</span> <!-- Assuming 'title' is a property of the Task class -->
      <!-- Add more spans for other properties as needed -->
    </li>
  </ul>
</div>
  


  