<div *ngIf="isloggedIn">
<h2>Welcome, {{currentuser.name}}!</h2>
<div>


  <div>
    <form (ngSubmit)="createTask()" *ngIf="isloggedIn">
      <div class="tweet-wrap">
          <textarea placeholder="New Task" type="text" name="taskname" [(ngModel)]="newTask.taskname">
          </textarea>
      
          <button>
              Add Task
          </button>
      </div>
  </form>

  <div *ngIf="tasks">
    <h2 class="special-font">ToDo List/h2>

    <li [taskList]="tasks" 
        (refreshFeed)="getTasks(currentuser?.userId ?? 0)"></li>
</div>


<div *ngIf="!tasks">
    This user does not have any tweets yet!
</div>
